---
swagger: "2.0"
info:
  description: "The Cisco Product Security Incident Response Team (PSIRT) openVuln\
    \ API is a RESTful API that allows customers to obtain Cisco Security Vulnerability\
    \ information in different machine-consumable formats. APIs are important for\
    \ customers because they allow their technical staff and programmers to build\
    \ tools that help them do their job more effectively (in this case, to keep up\
    \ with security vulnerability information).\nFor more information about the Cisco\
    \ PSIRT openVuln API visit https://developer.cisco.com/site/PSIRT/discover/overview\n\
    \nFor detail steps on how to use the API go to:https://developer.cisco.com/site/PSIRT/get-started/getting-started.gsp\n\
    \nThis is a beta release of a swagger YAML for the Cisco PSIRT openVuln API\n\n\
    To access the API sign in with your Cisco CCO account at http://apiconsole.cisco.com\
    \ and register an application\nto recieve a client_id and a client_secret\n\n\
    You can then get your token using curl or any other method you prefer.\n\n'curl\
    \ -s -k -H \"Content-Type: application/x-www-form-urlencoded\" -X POST -d \"client_id=<your_client_id>\"\
    \ -d \"client_secret=<your_client_secret>\" -d \"grant_type=client_credentials\"\
    \ https://cloudsso.cisco.com/as/token.oauth2'\n\nYou will receive an access token\
    \ as demonstrated in the following example:\n '{\"access_token\":\"I7omWtBDAieSiUX3shOxNJfuy4J6\"\
    ,\"token_type\":\"Bearer\",\"expires_in\":3599}'\n\nIn Swagger, click on Change\
    \ Authentication\n\nenter the text \"I7omWtBDAieSiUX3shOxNJfuy4J6\" (which is\
    \ the token you received)\n\nthen click on \"Try this operation\"\n"
  version: "0.0.3"
  title: "Cisco PSIRT openVuln API"
  contact:
    name: "Omar Santos"
    email: "os@cisco.com"
host: "api.cisco.com"
schemes:
- "https"
produces:
- "application/json"
paths:
  /security/advisories/cvrf/advisory/{advisory_id}:
    get:
      description: "Used to obtain an advisory in CVRF format for a given advisory\
        \ ID `advisory_id` (i.e., cisco-sa-20150819-pcp)\n"
      parameters:
      - name: "advisory_id"
        in: "path"
        description: "advisory ID"
        required: true
        type: "string"
        format: "cisco-sa-XXX"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/all:
    get:
      description: "Used to obtain all advisories in Common Vulnerability Reporting\
        \ Format (CVRF). For more information about CVRF go to https://communities.cisco.com/docs/DOC-63156\
        \ . By default the output is in JSON. To obtain the output in XML use the\
        \ .xml extension. For example, /advisories/cvrf/all.xml\n"
      parameters: []
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/cve/{cve_id}:
    get:
      description: "Used to obtain an advisory in CVRF format for a given Common Vulnerability\
        \ Enumerator (CVE). The `cve_id` format is CVE-YYYY-NNNN. For more information\
        \ about CVE visit http://cve.mitre.org/\n"
      parameters:
      - name: "cve_id"
        in: "path"
        description: "CVE Identifier (i.e., CVE-YYYY-NNNN)"
        required: true
        type: "string"
        format: "CVE-YYYY-NNNN"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/latest/{number}:
    get:
      description: "Used to obtain all the latest security advisories in CVRF format\
        \ given an absolute number. For instance, the latest 10 or latest 5.\n"
      parameters:
      - name: "number"
        in: "path"
        description: "An absolute number to obtain the latest security advisories."
        required: true
        type: "integer"
        format: "number"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/product:
    get:
      description: "Used to obtain all the advisories that affects the given product\
        \ name.\n"
      parameters:
      - name: "product"
        in: "query"
        description: "An product name to obtain security advisories that matches given\
          \ product name."
        required: true
        type: "string"
        format: "string"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/severity/{severity}:
    get:
      description: "Used to obtain all security advisories for a given security impact\
        \ rating (critical, high, medium, or low) in CVRF format.\n"
      parameters:
      - name: "severity"
        in: "path"
        description: "Critical, High, Medium, Low"
        required: true
        type: "string"
        format: "enum"
        enum:
        - "critical"
        - "high"
        - "medium"
        - "low"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/severity/{severity}/firstpublished:
    get:
      description: "Used to obtain all security advisories for a given security impact\
        \ rating (critical, high, medium, or low) in CVRF format and additionally\
        \ filter based of firstpublished start date and enddate\n"
      parameters:
      - name: "severity"
        in: "path"
        description: "Used to obtain all advisories that have a security impact rating\
          \ of critical"
        required: true
        type: "string"
        format: "enum"
        enum:
        - "critical"
        - "high"
        - "medium"
        - "low"
      - name: "startDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      - name: "endDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/severity/{severity}/lastpublished:
    get:
      description: "Used to obtain all security advisories for a given security impact\
        \ rating (critical, high, medium, or low) in CVRF format.\n"
      parameters:
      - name: "severity"
        in: "path"
        description: "Used to obtain all advisories that have a security impact rating\
          \ of critical"
        required: true
        type: "string"
        format: "enum"
        enum:
        - "critical"
        - "high"
        - "medium"
        - "low"
      - name: "startDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      - name: "endDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/cvrf/year/{year}:
    get:
      description: "Used to obtain all security advisories that have were orginally\
        \ published in a specific year `YYYY`.\n"
      parameters:
      - name: "year"
        in: "path"
        description: "The four digit year."
        required: true
        type: "string"
        format: "YYYY"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/ios:
    get:
      description: "Used to obtain all advisories that affects the given ios version\n"
      parameters:
      - name: "version"
        in: "query"
        description: "IOS version to obtain security advisories"
        required: true
        type: "string"
        format: "string"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/iosxe:
    get:
      description: "Used to obtain all advisories that affects the given ios version\n"
      parameters:
      - name: "version"
        in: "query"
        description: "IOS version to obtain security advisories"
        required: true
        type: "string"
        format: "string"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/advisory/{advisory_id}:
    get:
      description: "Used to obtain OVAL definitions for a given advisory ID `advisory_id`\
        \ (i.e., cisco-sa-20150819-pcp)\n"
      parameters:
      - name: "advisory_id"
        in: "path"
        description: "advisory ID"
        required: true
        type: "string"
        format: "cisco-sa-XXX"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/all:
    get:
      description: "Used to obtain all Open Vulnerability and Assessment Language\
        \ (OVAL) definitions available for Cisco security vulnerabilities. For more\
        \ information about OVAL go to https://communities.cisco.com/docs/DOC-63158\
        \ . By default the output is in JSON. To obtain the output in XML use the\
        \ .xml extension. For example, /advisories/oval/all.xml\n"
      parameters: []
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/cve/{cve_id}:
    get:
      description: "Used to obtain OVAL definitions for a given CVE Identifier. The\
        \ `cve_id` format is CVE-YYYY-NNNN.\n"
      parameters:
      - name: "cve_id"
        in: "path"
        description: "CVE Identifier (i.e., CVE-YYYY-NNNN)"
        required: true
        type: "string"
        format: "CVE-YYYY-NNNN"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/latest/{number}:
    get:
      description: "Used to obtain all the latest OVAL definitions given an absolute\
        \ number. For instance, the latest 10 or latest 5.\n"
      parameters:
      - name: "number"
        in: "path"
        description: "The latest OVAL definitions (absolute number)."
        required: true
        type: "integer"
        format: "number"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/product:
    get:
      description: "Used to obtain all the oval advisories that affects the given\
        \ product name.\n"
      parameters:
      - name: "product"
        in: "query"
        description: "An product name to obtain security advisories that matches given\
          \ product name."
        required: true
        type: "string"
        format: "string"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/severity/{severity}:
    get:
      description: "Used to obtain all OVAL definitions for a given security impact\
        \ rating (critical, high, medium, or low).\n"
      parameters:
      - name: "severity"
        in: "path"
        description: "Used to obtain all OVAL definitions for advisories that have\
          \ a security impact rating of critical"
        required: true
        type: "string"
        format: "enum"
        enum:
        - "critical"
        - "high"
        - "medium"
        - "low"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/severity/{severity}/firstpublished:
    get:
      description: "Used to obtain all security advisories for a given security impact\
        \ rating (critical, high, medium, or low) in OVAL format.\n"
      parameters:
      - name: "severity"
        in: "path"
        description: "Critical, High, Medium, Low"
        required: true
        type: "string"
        format: "enum"
        enum:
        - "critical"
        - "high"
        - "medium"
        - "low"
      - name: "startDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      - name: "endDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
  /security/advisories/oval/severity/{severity}/lastpublished:
    get:
      description: "Used to obtain all security advisories for a given security impact\
        \ rating (critical, high, medium, or low) in OVAL format.\n"
      parameters:
      - name: "severity"
        in: "path"
        description: "Critical, High, Medium, Low"
        required: true
        type: "string"
        format: "enum"
        enum:
        - "critical"
        - "high"
        - "medium"
        - "low"
      - name: "startDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      - name: "endDate"
        in: "query"
        required: true
        type: "string"
        format: "date"
      responses:
        200:
          description: "Successful response"
      security:
      - psirt_openvuln_api_auth:
        - "read:cvrf"
        - "read:oval"
securityDefinitions:
  psirt_openvuln_api_auth:
    type: "oauth2"
    authorizationUrl: "https://cloudsso.cisco.com/as/token.oauth2"
    flow: "implicit"
    scopes:
      read:cvrf: "read cvrf files"
      read:oval: "read oval files"
definitions: {}
